// @if (2==3) {
$background: #ffff;
$text: #000;
$texthead: #18191f;
$textbold: #263238;
$textshade: #50585e;
$orange: #ff8f1a;
$orangedark: #ff8300;
$orangebutton: #ffba3c;
$orangelight: #ff9c33;
$orangeback: #ffb566;
$orangestroke: #ff870a;
$orangeshade: #ffe3c5;
// }
// @else {
// $background: #18191f;
// $text: #ffff;
// $textbold: rgb(245, 245, 245);
// $textshade: #f1f1f1;
// $orange: #ff8f1a;
// $orangedark: #ff8300;
// $orangebutton: #ffba3c;
// $orangelight: #ff9c33;
// $orangeback: #ffb566;
// $orangestroke: #ff870a;
// $orangeshade: #ffe3c5;
// }

@mixin bordered($color, $width) {
  border: $width solid $color;
}

@mixin bordered($color, $width) {
  border: $width solid $color;
}
@mixin transition($time) {
  transition: all ease $time;
}

@mixin zero {
  padding: 0;
  margin: 0;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin list {
  @include zero;
  list-style: none;
}

.belowbanner {
  @include center();
  flex-direction: column;
  background: linear-gradient(
    89.99deg,
    #ff9c33 12.34%,
    #fcc220 110.97%,
    rgba(252, 194, 32, 0.34) 110.97%
  );
  color: $background;
  padding: 1.5vw;
  h4 {
    font-size: 2vw;
    @include zero;
  }
  b {
    margin: 0.5vw;

    font-size: 1.5vw;
  }
  button {
    margin: 1vw;
    padding: 1vw;
    background: $orangelight;
    border: none;
    color: $background;
    font-size: 1.3vw;
    border-radius: 0.4vw;
    transition: all ease 0.5s;

    &:hover {
      transition: all ease 0.5s;
      background: transparent;
      color: $text;
    }
  }
}
