$background:#ffff;
$text:#000;
$texthead:#18191F;
$textbold:#263238;
$textshade:#50585E;
$orange:#FF8F1A;
$orangedark:#FF8300;
$orangebutton:#FFBA3C;
$orangelight:#FF9C33;
$orangeback:#FFB566;
$orangestroke:#FF870A;
$orangeshade:#FFE3C5;
// $gradiant: