@import "./theme.scss";
@import "../caros-cufonfonts-webfont/style.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.HomeContainer {
  font-family: "Caros Regular";
  // font-weight: 600;
  // padding: 0 2rem;
  background: $background;
  color: $text;

  main {
    .Banner {
      @include center;
      flex-direction: column;

      div {
        @include center;
        width: 80vw;

        div {
          cursor: default;
          display: block;
          ::selection {
            background: none;
          }

          hr {
            width: 5vw;
            border: none;
            margin: 0;
            margin-top: 5vw;
            margin-bottom: 0.5vw;
            border-radius: 1.2vw;
            height: 0.4vw;
            background: $orange;
            font-size: 3vw;
          }
          h4 {
            width: 38vw;
            color: $orange;
            font-weight: 700;
            font-size: 1.5vw;
            opacity: 0.7;
            font-family: "Caros Regular";
            @include zero();

            color: $text;
          }
          h2 {
            width: 38vw;
            color: $orange;
            font-weight: 700;
            font-size: 3vw;
            font-family: "Caros Bold";
            @include zero();

            color: $text;
          }
          p {
            letter-spacing: 0.01vw;
            font-size: 1.3vw;
            width: 40vw;
            font-family: "Caros Light";
            @include zero();
            padding: 2vw 0;
            text-align: left;
          }

          button {
            cursor: pointer;
            padding: 1vw 1.5vw;
            background: $orangelight;
            border: 0.1vw solid $orangedark;
            border: none;
            font-size: 1.3vw;
            color: $background;
            border-radius: 10vw;

            &:hover {
              color: $orangelight;
              background: transparent;
              border: 0.1vw solid $orangedark;
            }
          }
        }

        img {
          width: 23vw;
          height: max-content;
        }
      }
    }
    .we {
      @include around();
      // flex-direction: column;
      padding: 5vw 0;

      &:nth-child(3) {
        background: #f8f8f8;
      }

      img {
        width: 20vw;
        height: max-content;
      }

      div {
        width: 40vw;
        hr {
          width: 5vw;
          border: none;
          margin: 0;
          border-radius: 1.2vw;
          height: 0.4vw;
          background: $orange;
          font-size: 3vw;
        }
        h2 {
          font-size: 1.5vw;
          color: $textbold;
          font-weight: 300;
          font-family: "Caros Bold";
        }
        p {
          letter-spacing: 0.01vw;
          font-size: 1.3vw;
          width: 40vw;
          opacity: 0.7;
          font-family: "Caros Light";
          // text-align: center;
        }
      }
    }

    .belowbanner {
      @include center();
      flex-direction: column;
      background: linear-gradient(
        89.99deg,
        #ff9c33 12.34%,
        #fcc220 110.97%,
        rgba(252, 194, 32, 0.34) 110.97%
      );
      color: $background;
      padding: 1.5vw;
      h4 {
        font-size: 2vw;
        @include zero;
      }
      b {
        margin: 0.5vw;

        font-size: 1.5vw;
      }
      button {
        margin: 1vw;
        padding: 1vw;
        background: $orangelight;
        border: none;
        font-size: 1.3vw;
        color: $background;
        border-radius: 0.4vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .HomeContainer {
    main {
      .Banner {
        @include center;
        flex-direction: column;

        div {
          @include center;
          width: 90vw;

          div {
            position: relative;
            cursor: default;
            display: block;
            ::selection {
              background: none;
            }

            h2 {
              width: 38vw;
              font-size: 4.3vw;
              color: $orange;
              font-weight: 700;
              line-height: 4.2vw;

              font-family: "Caros ExtraBold";
              span {
                font-size: 3.8vw;
                font-family: "Caros Bold";

                color: $text;
              }
            }
            p {
              letter-spacing: 0.01vw;
              font-size: 2.2vw;
              width: 60vw;
              text-align: start;
            }

            button {
              cursor: pointer;
              padding: 1vw 1.5vw;
              background: $orangelight;
              border: 0.1vw solid $orangedark;
              border: none;
              font-size: 2.3vw;
              color: $background;
              border-radius: 1vw;

              &:first-of-type {
                display: none;
              }
            }
          }

          img {
            position: absolute;
            width: 45vw;
            right: 0;
            height: max-content;
          }
        }
      }
      .we {
        margin: 0 4vw;
        flex-direction: column;
        display: block;
        hr {
          margin-top: 5vw;
          height: 0.8vw;
          width: 15vw;
        }
        h2 {
          margin-top: 1.5vw;
          font-size: 5vw;
        }
        p {
          @include zero();

          text-align: left;
          font-size: 3vw;
        }
      }

      .belowbanner {
        padding: 1.5vw;
        h4 {
          font-size: 3vw;
          @include zero;
          letter-spacing: 0.2vw;
        }
        b {
          margin: 0.5vw;
          letter-spacing: 0.2vw;

          font-size: 2.5vw;
        }
        button {
          margin: 2vw;
          padding: 2vw;
          background: $orangelight;
          letter-spacing: 0.1vw;
          border: none;
          font-size: 3vw;
          border-radius: 0.4vw;
        }
      }
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
