@import "./theme.scss";
@import "../caros-cufonfonts-webfont/style.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.ContactContainer {
  font-family: "Caros Regular";
  // font-weight: 600;
  // padding: 0 2rem;
  background: $background;
  color: $text;
  display: flex;

  .left {
    padding: 5vw;
    width: 50%;
    background: $orangelight;
    color: $background;

    h2 {
      font-size: 2.5vw;
      margin: 0;
      margin-top: 1vw;
      font-weight: 600;
      font-family: "Caros ExtraBold";
      margin-bottom: 5vw;
    }

    h4 {
      font-size: 1.5vw;
      margin: 0;
    }

    ul {
      background: $orangeshade;
      @include list;
      padding: 5vw 5vw;
      background: linear-gradient(180deg, #fe9a1b 0%, #fdaa1d 100%);
      margin: 0 -5vw;
      li {
        opacity: 0.9;

        font-size: 1.2vw;
        margin: 1.5vw;
        &:first-child {
          font-size: 1.5vw;
        }
      }
    }

    div {
      margin: 5vw 0;
      i {
        font-size: 2vw;
        margin: 1.5vw;
      }
    }
  }

  .right {
    padding: 5vw;
    width: 50%;

    div {
      margin: 2vw 0;
      @include around;
      width: 100%;
      label {
        font-size: 1.1vw;
        opacity: 0.6;
        width: 10vw;
      }
      input {
        border: none;
        padding: 1.1vw;
        border-bottom: 0.1vw solid $orangelight;
        &:focus {
          border: none;
          border-bottom: 0.1vw solid $orange;
          outline: none;
        }
      }
      select {
        border: none;
        outline: none;
        padding: 1.1vw;
        border-radius: 0.1vw;
        &:focus {
          border: none;
          border-bottom: 0.1vw solid $orange;
          outline: none;

          option {
            background: $orangelight;
            border-radius: 0;
            border: none;
            color: $background;
            font-size: 1.5vw;
          }
        }
      }
    }

    hr {
      margin: 5vw 2vw;
    }
    button {
      border: none;

      padding: 1vw 3vw;
      font-size: 1.3vw;
      color: $orange;
      border: 0.1vw solid $orange;
      background: transparent;
      transition: all ease 0.3s;

      &:hover {
        transition: all ease 0.5s;
        color: $background;
        background: $orange;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .ContactContainer {
    flex-direction: column-reverse;
    .left {
      padding: 10vw;
      width: 100%;
      h2 {
        font-size: 4.5vw;
      }

      h4 {
        font-size: 2vw;
      }

      ul {
        padding: 10vw;
        margin: 0 -10vw;
        li {
          font-size: 2.2vw;
          margin: 1.5vw;
          &:first-child {
            font-size: 2.8vw;
          }
        }
      }

      div {
        margin: 5vw 0;
        @include center;
        i {
          font-size: 6vw;
          margin: 3vw;
        }
      }
    }

    .right {
      padding: 10vw;
      width: 100%;

      @include center;
      flex-direction: column;

      div {
        margin: 2vw 0;
        @include around;
        width: 100%;
        label {
          font-size: 3.1vw;
          width: 40vw;
        }
        input {
          padding: 1.5vw;
          font-size: 3.5vw;
        }
      }

      hr {
        margin: 5vw 2vw;
        width: 80vw;
      }
      button {
        padding: 2vw 5vw;
        font-size: 3.3vw;
        border: 0.3vw solid $orange;
      }
    }
  }
}
