@import "./theme.scss";
@import "../caros-cufonfonts-webfont/style.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

.HomeContainer {
  // font-weight: 600;
  // padding: 0 2rem;
  // background: $background;
  color: $text;
  // overflow: hidden;
  // background-color: #df000000;
  // width: 700vw;

  main {
    .Banner {
      @include center;
      flex-direction: column;
      background-image: url("/images/doodle.svg");

      div {
        @include center;
        width: 60vw;

        div {
          cursor: default;
          display: block;
          ::selection {
            background: none;
          }

          hr {
            width: 5vw;
            border: none;
            margin: 0;
            border-radius: 1.2vw;
            height: 0.4vw;
            background: $orange;
            font-size: 3vw;
          }
          .head {
            // background: #ff9c33;
            width: 68vw;
            height: max-content;
            h2 {
              width: 68vw;
              font-size: 4.3vw;
              color: $orange;
              margin: 0;
              font-weight: 700;
              line-height: 4.2vw;

              font-family: "Caros ExtraBold";
              span {
                font-size: 3.8vw;
                font-family: "Caros Bold";

                color: $text;
              }
            }
          }

          .writing {
            letter-spacing: 0.01vw;
            font-size: 1.3vw;
            width: 50vw;
            margin: 0;
            padding: 2vw 0;
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            text-align: left;
            // background-color: #fcc220;
            height: 10vw;
          }

          button {
            cursor: pointer;
            padding: 1vw 1.5vw;
            background: $orangelight;
            border: 0.1vw solid $orangedark;
            border: none;
            font-size: 1.3vw;
            color: $background;
            border-radius: 10vw;
            transition: all ease 0.3s;

            &:first-of-type {
              margin-right: 1vw;
              color: $orangelight;
              background: transparent;
              border: 0.1vw solid $orangedark;
              transition: all ease 0.3s;
              &:hover {
                border: 0.1vw solid $background;
                color: $orangedark;
                background: $background;
              }
            }

            &:hover {
              border: 0.1vw solid $orangedark;
              color: $orangedark;
              background: $background;
            }
          }
        }

        .imgholder {
          width: 26vw;
          img {
            margin: 0;
            align-self: center;
            align-items: flex-end;
            // background: #b433ff;
            width: 23vw;
            padding-right: 1vw;
            height: max-content;
          }
        }
      }
    }
    .we {
      @include center;
      flex-direction: column;
      margin: 2vw 0;
      hr {
        width: 5vw;
        border: none;
        margin: 0;
        border-radius: 1.2vw;
        height: 0.4vw;
        background: $orange;
        font-size: 3vw;
      }
      h2 {
        font-size: 2.3vw;
        color: $textbold;
        font-weight: 700;
        font-family: "Caros ExtraBold";
      }
      p {
        padding: 0 10vw;
        letter-spacing: 0.01vw;
        font-size: 1.3vw;
        width: 90vw;
        text-align: center;
      }
    }

    .service {
      @include center;
      flex-direction: column;
      hr {
        margin: 0;
        width: 5vw;
        border: none;
        border-radius: 1.2vw;
        height: 0.4vw;
        background: $orange;
      }
      h3 {
        font-family: "Caros Bold";
        // @include zero();
        margin-bottom: 1vw;
        opacity: 0.6;
        font-size: 2.1vw;
        color: $textbold;
      }

      ul {
        list-style: none;
        padding: 0;
        @include center;

        li {
          @include center;
          flex-direction: column;
          margin: 1vw;
          height: 20vw;

          .back {
            background: $orangeshade;
            @include center;
            width: 8vw;
            height: 8vw;
            border-radius: 50%;
            img {
              width: 10vw;
              height: 10vw;
              object-fit: contain;
            }
          }

          // &:nth-child(2) {
          //   img {
          //     width: 20vw;
          //   }
          // }
          p {
            margin: 0;
            padding: 0;
            font-weight: 500;
            width: 15vw;
            margin-top: 1.5vw;
            font-size: 1.5vw;
            text-align: center;
          }
        }
      }
    }

    .progress {
      background: $orangeshade;
      padding: 1vw 5vw;
      ul {
        list-style: none;
        padding: 1vw 2vw;
        background: $background;
        border-radius: 0.2vw;
        @include center;

        li {
          @include center;
          flex-direction: column;
          padding: 2vw 0;

          h3 {
            color: $orangedark;
            font-size: 3.5vw;
            font-family: "Caros ExtraBold";

            @include zero;
          }

          h6 {
            @include zero;
            font-weight: 500;
            width: 15vw;
            font-size: 1.2vw;
            text-align: center;
          }
        }

        hr {
          width: 0.01vw;
          height: 10vw;
          border-radius: 10vw;
          opacity: 0.1;
          border: none;
          background: $orangelight;
        }
      }
    }

    .clients {
      @include center;
      // max-height: 20vw;
      flex-direction: column;
      overflow-x: hidden;
      width: 100%;

      hr {
        margin: 0;

        width: 5vw;
        border: none;
        border-radius: 1.2vw;
        height: 0.4vw;

        background: $orange;
        font-size: 3vw;
      }
      h2 {
        opacity: 0.6;
        font-family: "Caros ExtraBold";
        margin-bottom: 1vw;
        font-size: 2vw;
        color: $textbold;
      }
      div {
        display: flex;
        ul {
          width: 100%;
          animation: marquee 25s linear infinite;

          list-style: none;
          @include inbetween;
          padding: 0 1vw;
          &::-webkit-scrollbar {
            width: 0;
          }
          li {
            @include center;
            flex-direction: column;
            div {
              margin: 1vw;
              box-shadow: 0px 1vw 2vw rgba(212, 217, 232, 0.336);
              height: 5vw;
              // background: #0070f3;
              border-radius: 0.5vw;
              width: 10vw;
              img {
                padding: 1vw;
                width: 10vw;
                height: 5vw;
                object-fit: contain;
              }
            }
          }
          hr {
            width: 0.01vw;
            height: 10vw;
            border-radius: 10vw;
            opacity: 0.3;
            border: none;
            background: $orangelight;
          }
        }
      }
    }
    @keyframes marquee {
      0% {
        transform: translateX(50%);
      }
      100% {
        transform: translateX(-50%);
      }
    }

    .testimonial {
      @include center;
      flex-direction: column;
      // max-height: 20vw;
      background: $orangelight;

      hr {
        height: 0.01vw;
        width: 70vw;
        border-radius: 10vw;
        opacity: 0.3;
        border: none;
        background: $background;
        // border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 100px 26000.9192px 30005.8922px rgba(0, 0, 0, 0.712);
      }

      h2 {
        font-family: "Caros Bold";
        margin-bottom: 1vw;
        font-size: 2.1vw;
        color: $background;
      }

      .carousel {
        width: 100vw;

        div {
          margin: 1vw;

          .comment {
            width: 40vw;
            height: 15vw;
            background: $background;
            padding: 1vw;
            position: relative;
            text-align: center;
            border-radius: 1vw;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 1vw solid transparent;
              border-right: 1vw solid transparent;

              border-top: 1.5vw solid $background;
              bottom: -1.5vw;
              left: 5vw;
            }
            b {
              font-size: 1.6vw;
            }
            p {
              font-size: 1.2vw;
            }
          }
          .author {
            margin-left: 4.5vw;
            margin-top: 1vw;
            display: flex;
            align-items: center;
            img {
              margin-right: 1vw;
              margin-top: 1.5vw;
              width: 5vw;
              background-color: $background;
              object-fit: contain;
              padding: 0.5vw;
              border-radius: 50%;
              height: 5vw;
            }
            b {
              @include zero;
              font-size: 1.2vw;
              letter-spacing: 0.02vw;
              color: $background;
            }
            p {
              @include zero;
              letter-spacing: 0.02vw;
              font-size: 1.2vw;
              color: $background;
            }
          }
        }
      }
    }
    .Mtestimonial {
      @include center;
      display: none;
      flex-direction: column;
      // max-height: 20vw;
      background: $orangelight;

      hr {
        height: 0.01vw;
        width: 70vw;
        border-radius: 10vw;
        opacity: 0.3;
        border: none;
        background: $background;
        // border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 100px 26000.9192px 30005.8922px rgba(0, 0, 0, 0.712);
      }

      h2 {
        font-family: "Caros Bold";
        margin-bottom: 1vw;
        font-size: 2.1vw;
        color: $background;
      }

      .carousel {
        width: 100vw;

        div {
          margin: 1vw;

          .comment {
            width: 40vw;
            height: 15vw;
            background: $background;
            padding: 1vw;
            position: relative;
            text-align: center;
            border-radius: 1vw;
            &::after {
              content: "";
              position: absolute;
              width: 0;
              height: 0;
              border-left: 1vw solid transparent;
              border-right: 1vw solid transparent;

              border-top: 1.5vw solid $background;
              bottom: -1.5vw;
              left: 5vw;
            }
            b {
              font-size: 1.6vw;
            }
            p {
              font-size: 1.2vw;
            }
          }
          .author {
            margin-left: 4.5vw;
            margin-top: 1vw;
            display: flex;
            align-items: center;
            img {
              margin-right: 1vw;
              margin-top: 1.5vw;
              width: 5vw;
              object-fit: contain;
              background-color: $background;
              padding: 1vw;

              border-radius: 0;
              height: 5vw;
            }
            b {
              @include zero;
              font-size: 1.2vw;
              letter-spacing: 0.02vw;
              color: $background;
            }
            p {
              @include zero;
              letter-spacing: 0.02vw;
              font-size: 1.2vw;
              color: $background;
            }
          }
        }
      }
    }

    .project {
      @include center;
      flex-direction: column;
      margin: 2vw 0;
      hr {
        width: 6vw;
        border: none;
        margin: 0;

        border-radius: 1.2vw;
        height: 0.4vw;
        background: $orange;
        font-size: 3vw;
      }
      h3 {
        margin: 1vw 0;
        font-size: 2vw;
        color: $textbold;
      }
      div {
        @include around();
        width: 80vw;
        margin: 1vw 0;
        ul {
          list-style: none;
          @include zero;
          width: 55vw;
          display: flex;
          align-items: stretch;
          li {
            @include center();
            // width: 20vw;
            flex-direction: column;
            img {
              padding: 0.2vw;
            }

            &:nth-child(1) {
              img {
                height: max-content;
                &:nth-child(1) {
                  width: 15vw;
                }
                &:nth-child(2) {
                  width: 15vw;
                }
              }
            }
            &:nth-child(2) {
              img {
                height: max-content;
                &:nth-child(1) {
                  width: 11vw;
                }
                &:nth-child(2) {
                  width: 11.4vw;
                }
                &:nth-child(3) {
                  width: 11vw;
                }
              }
            }
            &:nth-child(3) {
              img {
                height: max-content;
                &:nth-child(1) {
                  width: 16vw;
                }
                &:nth-child(2) {
                  margin-top: 1vw;
                  width: 16vw;
                }
              }
            }
          }
        }
        div {
          width: 30vw;
          display: block;
          h6 {
            font-size: 1.2vw;
            opacity: 0.3;
          }
          h2 {
            opacity: 0.8;
            font-size: 2.5vw;
          }

          h5 {
            font-size: 1.3vw;
          }
          button {
            padding: 1vw;
            background: #ffba3c;
            border: none;
            color: $background;

            font-size: 1.2vw;
            box-shadow: 0px 5.36886px 10.7377px rgba(255, 143, 26, 0.25);
            border-radius: 0.4vw;

            transition: all ease 0.5s;
            &:hover {
              color: $orange;
              background: transparent;
              border: 0.1vw solid $orangelight;
            }
          }
        }

        &:last-of-type {
          // @include center();
          ul {
            justify-content: end;
            align-items: flex-end;
            li {
              @include center();
              // width: 20vw;
              flex-direction: column;
              img {
                filter: drop-shadow(0px 0.1vw 0.3vw #ffd3a6);
                padding: -2vw;
              }

              &:nth-child(1) {
                img {
                  height: max-content;
                  &:nth-child(1) {
                    width: 10vw;
                    filter: drop-shadow(0px 0.2vw 0.8vw #ffd3a600);
                  }
                  &:nth-child(2) {
                    width: 10vw;
                  }
                }
              }
              &:nth-child(2) {
                img {
                  height: max-content;
                  &:nth-child(1) {
                    width: 7vw;
                  }
                  &:nth-child(2) {
                    width: 7.5vw;
                  }
                }
              }
              &:nth-child(3) {
                img {
                  height: max-content;
                  &:nth-child(1) {
                    width: 8vw;
                  }
                  &:nth-child(2) {
                    width: 7vw;
                  }
                }
              }
              &:nth-child(4) {
                img {
                  height: max-content;
                  &:nth-child(1) {
                    width: 7vw;
                  }
                  &:nth-child(2) {
                    width: 7vw;
                  }
                }
              }
            }
          }
        }
      }
    }

    .projectM {
      display: none;
    }

    .contact {
      @include around();
      margin: 5vw 0;

      div {
        @include center;
        flex-direction: column;
        width: 40vw;

        hr {
          margin: 0;
          width: 5vw;
          border: none;
          border-radius: 1.2vw;
          height: 0.4vw;
          background: $orange;
          font-size: 3vw;
        }
        h3 {
          opacity: 0.8;
          font-size: 2vw;
          color: $textbold;
        }
      }
      align-items: flex-start;

      ul {
        @include list();
        @include inbetween();
        align-items: flex-start;
        // background: #fcc220;
        li {
          width: 12vw;
          @include center();
          flex-direction: column;
          img {
            width: 4vw;
            border-radius: 1vw;
            height: 4vw;
            background: $orangeshade;
            padding: 1vw;
            margin: 1vw;
          }
          p {
            text-align: center;
            @include zero();
            font-size: 1vw;
            font-family: "Caros ExtraLight";
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .HomeContainer {
    width: 100vw;
    overflow-x: hidden;

    main {
      .Banner {
        @include center;
        flex-direction: column;

        div {
          @include center;
          width: 90vw;

          div {
            position: relative;
            cursor: default;
            display: block;
            ::selection {
              background: none;
            }
            width: 60vw;

            h2 {
              width: 38vw;
              font-size: 4.3vw;
              color: $orange;
              font-weight: 700;
              line-height: 4.2vw;

              font-family: "Caros ExtraBold";
              span {
                font-size: 3.8vw;
                font-family: "Caros Bold";

                color: $text;
              }
            }
            .writing {
              letter-spacing: 0.01vw;
              font-size: 2.5vw;
              width: 60vw;
              height: 15vw;

              text-align: start;
            }

            button {
              cursor: pointer;
              padding: 1vw 1.5vw;
              background: $orangelight;
              border: 0.1vw solid $orangedark;
              border: none;
              font-size: 2.3vw;
              color: $background;
              border-radius: 1vw;

              &:first-of-type {
                display: none;
              }
            }
          }

          .imgholder {
            width: 30vw;
            img {
              margin: 0;
              align-self: center;
              align-items: flex-end;
              // background: #b433ff;
              width: 30vw;
              padding-right: 1vw;
              height: max-content;
            }
          }
        }
      }
      .we {
        margin: 0 4vw;
        flex-direction: column;
        display: block;
        hr {
          margin-top: 5vw;
          height: 0.8vw;
          width: 15vw;
        }
        h2 {
          margin-top: 1.5vw;
          font-size: 5vw;
        }
        p {
          @include zero();

          text-align: left;
          font-size: 3vw;
        }
      }

      .service {
        margin: 0 4vw;

        display: block;
        flex-direction: column;
        hr {
          margin-top: 1vw;
          height: 0.8vw;
          width: 15vw;
        }
        h3 {
          opacity: 0.6;
          font-size: 5.3vw;
          color: $textbold;
        }

        ul {
          flex-wrap: wrap;
          li {
            @include center;
            flex-direction: column;
            margin: 5vw;
            img {
              min-width: 20vw;
            }
            p {
              margin-top: 3vw;
              width: 20vw;
              font-family: "Caros Light";
              font-size: 3vw;
            }
          }
        }
      }

      .progress {
        ul {
          @include center;
          flex-direction: column;
          border-radius: 1vw;

          li {
            flex-direction: column;
            padding: 2vw 0;

            h3 {
              font-size: 10.5vw;
            }

            h6 {
              font-size: 3.5vw;
              width: max-content;
              font-weight: 500;
              text-align: center;
            }
          }

          hr {
            height: 0.4vw;
            width: 60vw;
          }
        }
      }

      .clients {
        hr {
          margin-left: 4vw;

          margin-top: 5vw;
          height: 0.8vw;
          align-self: start;
          width: 15vw;
        }
        h2 {
          margin-left: 4vw;
          align-self: start;
          opacity: 1;
          font-size: 5.3vw;
        }
        div {
          display: flex;
          ul {
            width: 100%;
            animation: marquee 20s linear infinite;

            list-style: none;
            @include inbetween;
            padding: 0 1vw;
            &::-webkit-scrollbar {
              width: 0;
            }
            li {
              @include center;
              flex-direction: column;
              div {
                margin: 3vw;
                box-shadow: 0px 1vw 2vw rgba(212, 217, 232, 0.336);
                height: 10vw;
                // background: #0070f3;
                border-radius: 0.5vw;
                width: 20vw;
                img {
                  padding: 1vw;
                  width: 20vw;
                  height: 10vw;
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
      .testimonial {
        display: none;
      }

      .Mtestimonial {
        @include center;
        flex-direction: column;
        min-height: 50vw;
        background: $orangelight;
        hr {
          height: 0.7vw;
          width: 70vw;
          border-radius: 10vw;
          opacity: 0.3;
          border: none;
          background: $background;
          // border: 1px solid rgba(255, 255, 255, 0.3);
          box-shadow: 100px 26000.9192px 30005.8922px rgba(0, 0, 0, 0.712);
        }

        h2 {
          font-family: "Caros Bold";
          margin-bottom: 1vw;
          font-size: 4vw;
          letter-spacing: 0.02vw;
          color: $background;
        }

        .carousel {
          // display: flex;
          // width: 100%;
          // overflow-x: scroll;

          div {
            .comment {
              // margin: 5vw 0;
              width: 70vw;
              height: 30vw;
              padding: 2vw;

              &::after {
                border-left: 2vw solid transparent;
                border-right: 2vw solid transparent;

                border-top: 2.5vw solid $background;
                bottom: -2vw;
                left: 10vw;
              }
              b {
                font-size: 3.8vw;
              }
              p {
                font-size: 2.2vw;
              }
            }
            .author {
              margin-bottom: 10vw;

              margin-left: 8vw;
              margin-top: 1vw;
              display: flex;
              img {
                margin-right: 1vw;
                width: 10vw;
                margin-top: 3vw;

                border-radius: 50%;
                height: 10vw;
              }
              b {
                @include zero;
                font-size: 3.5vw;
                letter-spacing: 0.1vw;
                color: $background;
              }
              p {
                @include zero;
                letter-spacing: 0.03vw;
                font-size: 2.6vw;
                font-weight: 200;
                color: $background;
              }
            }
          }
        }
      }

      .project {
        display: none;
      }

      .projectM {
        @include center;
        flex-direction: column;
        display: block;
        margin: 5vw;
        hr {
          width: 15vw;
          border: none;
          margin: 0;
          border-radius: 1.2vw;
          height: 0.4vw;
          background: $orange;
        }
        h3 {
          margin: 2vw 0;
          font-size: 4.5vw;
          color: $textbold;
          margin-bottom: 5vw;
          font-family: "Caros ExtraBold";
        }
        div {
          display: flex;
          flex-wrap: wrap;
          width: 90vw;
          margin: 1vw 0;
          img {
            width: 10vw;

            height: max-content;

            &:nth-child(2) {
              border-radius: 4vw 4vw 0 0;
              width: 35vw;
            }
            &:nth-child(3) {
              border-radius: 4vw 0vw 0 4vw;
              width: 40.4vw;
            }

            &:nth-child(5) {
              border-radius: 0 0vw 4vw 0;
              width: 31vw;
            }
          }

          span {
            display: flex;
            flex-direction: column;
            padding: 1vw;

            br {
              width: 0;
            }
            img {
              padding: 0.5vw;

              &:nth-child(1) {
                width: 16.6vw;
              }
              &:nth-child(2) {
                border-radius: 0vw 0;
                width: 16.6vw;
              }
            }
          }

          div {
            width: 55vw;
            display: block;
            h6 {
              font-size: 3.2vw;
              opacity: 0.3;
              @include zero;
            }
            h2 {
              opacity: 0.8;
              font-size: 4.5vw;
              @include zero;
              margin-top: 0.5vw;
              font-family: "Caros ExtraBold";
            }
            h5 {
              @include zero;
              margin-top: 1vw;
              font-size: 3.5vw;
              font-family: "Caros Light";
            }
            button {
              padding: 1.5vw;
              background: #ffba3c;
              margin-top: 2vw;
              border: none;
              font-size: 3.2vw;
              box-shadow: 0px 5.36886px 10.7377px rgba(255, 143, 26, 0.25);
              border-radius: 1vw;
              color: $background;
            }
          }

          &:last-of-type {
            // @include center();

            div {
              width: 50vw;
              padding: 2vw;
            }
            img {
              padding: 1vw;
              width: 10vw;
              // width: 100%;
              border-radius: 2vw;

              height: max-content;

              &:nth-child(1) {
                width: 20vw;
              }
              &:nth-child(2) {
                width: 20vw;
              }
              &:nth-child(4) {
                width: 38vw;
              }

              &:nth-child(6) {
                width: 32vw;
              }
            }

            span {
              display: flex;
              flex-direction: column;

              br {
                width: 0;
              }
              img {
                &:nth-child(1) {
                  width: 20vw;
                }
                &:nth-child(2) {
                  margin-top: 0.8vw;
                  width: 20vw;
                }
              }
            }
          }
        }
        .Time {
          margin: 10vw 0 0 0;
          height: 90vw;
          overflow-y: hidden;
        }
      }

      .contact {
        @include center();
        width: 100%;
        flex-direction: column;
        // background: #ff9c33;

        div {
          margin: 2vw 0;
          @include center;
          width: 100%;

          &:last-child {
            display: flex;
            hr {
              margin: 0;
              width: 15vw;
              border: none;
              border-radius: 1.2vw;
              height: 0.5vw;
              font-size: 3vw;
            }
            ul {
              @include center();
              width: max-content;
              li {
                width: 10vw;
                margin: 0 2vw;

                img {
                  width: 10vw;
                  height: 10vw;
                  padding: 3vw;
                }
                p {
                  font-size: 2vw;
                }
              }
            }
          }
          hr {
            margin: 0;
            width: 15vw;
            border: none;
            border-radius: 1.2vw;
            height: 0.4vw;
            font-size: 3vw;
          }
          h3 {
            opacity: 1;
            font-size: 3.5vw;
          }
        }

        ul {
          li {
            width: 30vw;
            @include center();
            flex-direction: column;
            img {
              width: 10vw;
              height: 10vw;
              padding: 3vw;
            }
            p {
              font-size: 2vw;
            }
          }
        }
      }
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }
