@import "./theme.scss";
@import "../caros-cufonfonts-webfont/style.css";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

@mixin bordered($color, $width) {
  border: $width solid $color;
}

@mixin bordered($color, $width) {
  border: $width solid $color;
}
@mixin transition($time) {
  transition: all ease $time;
}

@mixin zero {
  padding: 0;
  margin: 0;
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inbetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin list {
  @include zero;
  list-style: none;
}

.ServiceContainer {
  font-family: "Caros Regular";
  // font-weight: 600;
  // padding: 0 2rem;
  background: $background;
  color: $text;

  .Banner {
    @include center;
    flex-direction: column;
    margin: 2vw 0;

    h4 {
      margin-top: 3vw;
      color: $orangedark;
      font-size: 1.3vw;
    }

    div {
      @include center;
      width: 80vw;

      div {
        cursor: default;
        display: block;
        ::selection {
          background: none;
        }

        h4 {
          width: 38vw;
          color: $orange;
          font-weight: 700;
          font-size: 1.3vw;
          opacity: 0.6;
          letter-spacing: 0.2vw;
          font-family: "Caros Regular";
          @include zero();
          margin-bottom: 1vw;

          color: $text;
        }
        h2 {
          width: 30vw;
          color: $orange;
          font-weight: 700;
          font-size: 3.3vw;
          font-family: "Caros Bold";
          @include zero();
        }
        p {
          letter-spacing: 0.01vw;
          word-spacing: 0.2vw;
          font-size: 1.3vw;
          width: 35vw;
          font-family: "Caros Light";
          @include zero();
          padding: 1.5vw 0;
          text-align: left;
          // opacity: 0.4;
        }

        button {
          cursor: pointer;
          padding: 1vw 1.5vw;
          background: $orangelight;
          border: 0.1vw solid $orangedark;
          border: none;
          font-size: 1.3vw;
          color: $background;
          border-radius: 10vw;

          &:hover {
            color: $orangelight;
            background: transparent;
            border: 0.1vw solid $orangedark;
          }
        }
      }

      img {
        width: 23vw;
        height: max-content;
      }
    }
  }

  .process {
    @include center;
    flex-direction: column;

    hr {
      align-self: flex-end;
      width: 25vw;
      border: none;
      margin: 0;
      margin-top: 1vw;
      margin-bottom: 0.5vw;
      border-radius: 1.2vw;
      height: 0.4vw;
      background: $orange;
      font-size: 3vw;

      &:first-child {
        align-self: flex-start;
      }
    }

    h5 {
      @include zero;
      font-weight: 700;
      margin: 2vw 0;
      font-size: 1.5vw;
    }
    div {
      width: 100%;
      @include center;
      div {
        flex-direction: column;

        img {
          border-radius: 50%;
        }
        h6 {
          font-weight: 100;
          font-size: 1vw;
          width: 10vw;
          text-align: center;
        }
      }
    }
  }
  .blog {
    @include around();
    // flex-direction: column;
    padding: 5vw 0;

    &:nth-child(3) {
      background: #f8f8f8;
    }

    img {
      width: 20vw;
      height: max-content;
    }

    div {
      width: 40vw;
      hr {
        width: 5vw;
        border: none;
        margin: 0;
        border-radius: 1.2vw;
        height: 0.4vw;
        background: $orange;
        font-size: 3vw;
      }
      h2 {
        font-size: 1.5vw;
        color: $textbold;
        font-weight: 300;
        font-family: "Caros Bold";
      }
      p {
        letter-spacing: 0.01vw;
        font-size: 1.3vw;
        width: 40vw;
        opacity: 0.7;
        font-family: "Caros Light";
        // text-align: center;
      }
    }
  }

  .do {
    @include center;
    flex-direction: column;

    hr {
      width: 20vw;
      border: none;
      margin: 0;
      margin-top: 1vw;
      margin-bottom: 0.5vw;
      border-radius: 1.2vw;
      height: 0.2vw;
      background: $orange;
      font-size: 3vw;
    }

    h5 {
      @include zero;
      font-weight: 700;
      margin: 2vw 0;
      font-size: 1.5vw;
    }
    div {
      width: 100%;
      @include center;

      &:first-child {
        @include around();
      }

      div {
        flex-direction: column;
        img {
          border-radius: 50%;
          width: 10vw;
          height: 10vw;
          padding: 1vw;
          background: linear-gradient(180deg, #ffe81a 50%, #ff9c33 50%);
        }
        h6 {
          font-weight: 100;
          font-size: 1vw;
          width: 10vw;
          color: $orangedark;
          text-align: center;
        }

        &:nth-child(odd) {
          img {
            background: linear-gradient(0deg, #ffe81a 50%, #ff9c33 50%);
          }
        }
      }
    }
  }

  .progress {
    @include center;
    flex-direction: column;

    hr {
      width: 20vw;
      border: none;
      margin: 0;
      margin-top: 1vw;
      margin-bottom: 0.5vw;
      border-radius: 1.2vw;
      height: 0.2vw;
      background: $orange;
      font-size: 3vw;
    }

    h5 {
      @include zero;
      font-weight: 700;
      margin: 2vw 0;
      font-size: 1.5vw;
    }
    div {
      width: 100%;
      @include around();
    }

    ul {
      @include list();
      @include center();
      flex-wrap: wrap;
      margin: 0 20vw;
      li {
        color: $orangedark;
        @include around();
        width: 25vw;
        display: flex;
      }
    }
  }

  .project {
    @include center;
    flex-direction: column;
    margin: 2vw 0;

    h5 {
      align-self: flex-start;
      // margin-top: 3vw;
      background: $text;
      color: $background;
      font-size: 1.2vw;
      padding: 0.5vw 2.5vw;
    }

    div {
      @include center;
      width: 80vw;

      div {
        cursor: default;
        display: block;
        ::selection {
          background: none;
        }

        h4 {
          width: 38vw;
          color: $orange;
          font-weight: 700;
          font-size: 1.3vw;
          opacity: 0.6;
          letter-spacing: 0.2vw;
          font-family: "Caros Regular";
          @include zero();
          margin-bottom: 1vw;

          color: $text;
        }
        h2 {
          width: 30vw;
          color: $orange;
          font-weight: 700;
          font-size: 3.3vw;
          font-family: "Caros Bold";
          @include zero();
        }
        p {
          letter-spacing: 0.01vw;
          word-spacing: 0.2vw;
          font-size: 1.3vw;
          width: 35vw;
          font-family: "Caros Light";
          @include zero();
          padding: 1.5vw 0;
          text-align: left;
          // opacity: 0.4;
        }

        button {
          cursor: pointer;
          padding: 1vw 1.5vw;
          background: $orangelight;
          border: 0.1vw solid $orangedark;
          border: none;
          font-size: 1.3vw;
          color: $background;
          border-radius: 10vw;

          &:hover {
            color: $orangelight;
            background: transparent;
            border: 0.1vw solid $orangedark;
          }
        }
      }

      img {
        width: 23vw;
        height: max-content;
      }
    }
  }

  .services {
    @include center();
    flex-wrap: wrap;
    div {
      @include center();
      min-width: 30vw;
      flex-direction: column;

      img {
        width: 15vw;
        height: max-content;
      }

      h6 {
        text-align: center;
        font-size: 1.2vw;
        width: 15vw;
      }
    }
  }

  .belowbanner {
    @include center();
    flex-direction: column;
    background: linear-gradient(
      89.99deg,
      #ff9c33 12.34%,
      #fcc220 110.97%,
      rgba(252, 194, 32, 0.34) 110.97%
    );
    color: $background;
    padding: 1.5vw;
    h4 {
      font-size: 2vw;
      @include zero;
    }
    b {
      margin: 0.5vw;

      font-size: 1.5vw;
    }
    button {
      margin: 1vw;
      padding: 1vw;
      background: $orangelight;
      border: none;
      color: $background;

      font-size: 1.3vw;
      border-radius: 0.4vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .ServiceContainer {
    .Banner {
      @include center;
      flex-direction: column;

      div {
        @include center;
        width: 90vw;

        div {
          position: relative;
          cursor: default;
          display: block;
          ::selection {
            background: none;
          }

          h2 {
            width: 38vw;
            font-size: 4.3vw;
            color: $orange;
            font-weight: 700;
            line-height: 4.2vw;

            font-family: "Caros ExtraBold";
            span {
              font-size: 3.8vw;
              font-family: "Caros Bold";

              color: $text;
            }
          }
          p {
            letter-spacing: 0.01vw;
            font-size: 2.2vw;
            width: 60vw;
            text-align: start;
          }

          button {
            cursor: pointer;
            padding: 1vw 1.5vw;
            background: $orangelight;
            border: 0.1vw solid $orangedark;
            border: none;
            font-size: 2.3vw;
            color: $background;
            border-radius: 1vw;

            &:first-of-type {
              display: none;
            }
          }
        }

        img {
          position: absolute;
          width: 45vw;
          right: 0;
          height: max-content;
        }
      }
    }
    .we {
      margin: 0 4vw;
      flex-direction: column;
      display: block;
      hr {
        margin-top: 5vw;
        height: 0.8vw;
        width: 15vw;
      }
      h2 {
        margin-top: 1.5vw;
        font-size: 5vw;
      }
      p {
        @include zero();

        text-align: left;
        font-size: 3vw;
      }
    }

    .belowbanner {
      padding: 1.5vw;
      h4 {
        font-size: 3vw;
        @include zero;
        letter-spacing: 0.2vw;
      }
      b {
        margin: 0.5vw;
        letter-spacing: 0.2vw;

        font-size: 2.5vw;
      }
      button {
        margin: 2vw;
        padding: 2vw;
        background: $orangelight;
        letter-spacing: 0.1vw;
        border: none;
        font-size: 3vw;
        border-radius: 0.4vw;
      }
    }
  }
}
